<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? || !current_user?(user) %>
    <%= link_to 'remove user', user_path(user), 
          data: { confirm: "Are you sure you which to delete #{user.name}?" }, method: :delete %>
  <% end %>
</li>
